:root {
  --main-bg-color: #0A1128;
  --primary-color: #0E7C7B;
  --secondary-color: #2C8C99;
  --terceary-color: #EF6461;
  --text-color: #fffffA;
}

#root {
  color: var(--text-color);
}
.main {
  margin: 0.75rem 0.25rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
  background-color: #fffffA;
}

.tabs button.active {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.tabs > div {
  display: flex;
  gap: 1rem;
}

.add-value {
  display: flex;
}

.input-numbers {
  margin-right: 1rem;
  font-size: large;
  padding: 0.75rem;
  appearance: textfield !important;
  -webkit-appearance: textfield !important;
  -moz-appearance:textfield !important;
}

.no-data {
  margin: 2rem auto;
  color: #0A1128;
}

.btn-delete {
  background-color: var(--terceary-color);
}

.table-expenses {
  margin-top: 2rem;
}

.header-table {
  display: flex;
  justify-content: space-between;
  color: var(--main-bg-color);
  font-weight: bold;
  margin: 0 2rem;
}

.table div {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
}

.table {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--main-bg-color);
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 0.25rem auto;
}

.total-import {
  background-color: var(--main-bg-color);
  padding: 1rem;
  align-items: center;
}

.historical {
  background-color: var(--main-bg-color);
  padding: 2rem;
}

.data-historical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}